DQY/src/com/dqy/email/xmapi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ma.mail.cntv.cn/axis/xmapi" xmlns:impl="http://ma.mail.cntv.cn/axis/xmapi"
                  xmlns:tns1="http://module.ma.net263.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://module.ma.net263.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WsManagerUser">
    <sequence>
     <element name="account" nillable="true" type="xsd:string"/>
     <element name="domain" nillable="true" type="xsd:string"/>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="ip" nillable="true" type="xsd:string"/>
     <element name="key" nillable="true" type="xsd:string"/>
     <element name="product" nillable="true" type="xsd:string"/>
     <element name="status" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="delUser_NewRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delUser_NewResponse">

      <wsdl:part name="delUser_NewReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateDepartmentResponse">

      <wsdl:part name="updateDepartmentReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticationManager_NewResponse">

      <wsdl:part name="authenticationManager_NewReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modPasswd_NewRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="passwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="crypttype" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="regUserRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="passwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="crypttype" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="gid" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="departmentid" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="username" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="offic" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="mobile" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="phone" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="fax" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createDepartmentRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="departmentName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="deptId" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="description" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="listName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="listSync" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="mobile" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDirInfo_NewResponse">

      <wsdl:part name="getDirInfo_NewReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modStatusResponse">

      <wsdl:part name="modStatusReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createDisGroupRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="disGroupName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="description" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="parent" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modGidRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="gid" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserInfo_NewResponse">

      <wsdl:part name="getUserInfo_NewReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delUserResponse">

      <wsdl:part name="delUserReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modStatus_NewResponse">

      <wsdl:part name="modStatus_NewReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserInfo_NewRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modUserInfoRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="departmentid" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="username" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="office" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="mobile" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="phone" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="fax" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSaasDomainUserlistRequest">

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="passwd" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteDisGroupResponse">

      <wsdl:part name="deleteDisGroupReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="regUserResponse">

      <wsdl:part name="regUserReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDirInfoResponse">

      <wsdl:part name="getDirInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createDepartmentResponse">

      <wsdl:part name="createDepartmentReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSaasDomainUserlistResponse">

      <wsdl:part name="getSaasDomainUserlistReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDisGroupUserResponse">

      <wsdl:part name="getDisGroupUserReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDirInfoRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="passwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="crypttype" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modGidResponse">

      <wsdl:part name="modGidReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDomainUserlist_NewRequest">

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDomainUserlist_NewResponse">

      <wsdl:part name="getDomainUserlist_NewReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isOpenResponse">

      <wsdl:part name="isOpenReturn" type="xsd:boolean">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateRequest">

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteDisGroupUserResponse">

      <wsdl:part name="deleteDisGroupUserReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createDisGroupUserRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="departmentId" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="office" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="mobile" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="phone" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="fax" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticationManager_NewRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="passwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="crypttype" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modPasswd_NewResponse">

      <wsdl:part name="modPasswd_NewReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authentication_NewResponse">

      <wsdl:part name="authentication_NewReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserInfoRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteDepartmentResponse">

      <wsdl:part name="deleteDepartmentReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserInfoResponse">

      <wsdl:part name="getUserInfoReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delUserRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modUserInfo_NewRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="departmentid" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="username" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="office" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="mobile" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="phone" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="fax" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="alias" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="alias2" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modGid_NewRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="gid" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateDepartmentRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="departmentid" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="departmentName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="deptId" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="description" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="listName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="listSync" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="mobile" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDomainUserlistLengthGsoapResponse">

      <wsdl:part name="getDomainUserlistLengthGsoapReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateDisGroupResponse">

      <wsdl:part name="updateDisGroupReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modUserInfoResponse">

      <wsdl:part name="modUserInfoReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modPasswdRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="passwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="crypttype" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDomainUserlistRequest">

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="regUser_NewResponse">

      <wsdl:part name="regUser_NewReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createDisGroupResponse">

      <wsdl:part name="createDisGroupReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticationResponse">

      <wsdl:part name="authenticationReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDomainUserlistResponse">

      <wsdl:part name="getDomainUserlistReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateResponse">

      <wsdl:part name="validateReturn" type="tns1:WsManagerUser">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDisGroupRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="regUser_NewRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="passwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="crypttype" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="gid" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="departmentid" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="username" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="offic" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="mobile" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="phone" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="fax" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="alias" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="alias2" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="roleId" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="changepwd" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDisGroupUserRequest">

      <wsdl:part name="deptId" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createDisGroupUserResponse">

      <wsdl:part name="createDisGroupUserReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modPasswdResponse">

      <wsdl:part name="modPasswdReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteDisGroupRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="departmentId" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modStatus_NewRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="status" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDomainUserlistLengthGsoapRequest">

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticationRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="passwd" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDepartmentResponse">

      <wsdl:part name="getDepartmentReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modStatusRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="status" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDepartmentRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDomainUserlistGsoapResponse">

      <wsdl:part name="getDomainUserlistGsoapReturn" type="xsd:base64Binary">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDirInfo_NewRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="passwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="crypttype" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDomainUserlistGsoapRequest">

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateDisGroupRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="disGroupId" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="disGroupName" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="description" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="parent" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="aspGetDomainUserlistRequest">

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modUserInfo_NewResponse">

      <wsdl:part name="modUserInfo_NewReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDisGroupResponse">

      <wsdl:part name="getDisGroupReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="aspGetDomainUserlistResponse">

      <wsdl:part name="aspGetDomainUserlistReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteDepartmentRequest">

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="departmentId" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isOpenRequest">

      <wsdl:part name="status" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteDisGroupUserRequest">

      <wsdl:part name="deptId" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modGid_NewResponse">

      <wsdl:part name="modGid_NewReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authentication_NewRequest">

      <wsdl:part name="userid" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="domain" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="passwd" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="crypttype" type="xsd:int">

      </wsdl:part>

      <wsdl:part name="account" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="sign" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="XmapiImpl">

      <wsdl:operation name="isOpen" parameterOrder="status">

         <wsdl:input message="impl:isOpenRequest" name="isOpenRequest">

       </wsdl:input>

         <wsdl:output message="impl:isOpenResponse" name="isOpenResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserInfo" parameterOrder="userid domain">

         <wsdl:input message="impl:getUserInfoRequest" name="getUserInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserInfoResponse" name="getUserInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validate" parameterOrder="account domain">

         <wsdl:input message="impl:validateRequest" name="validateRequest">

       </wsdl:input>

         <wsdl:output message="impl:validateResponse" name="validateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateDepartment" parameterOrder="userid domain departmentid departmentName deptId description listName listSync mobile account sign">

         <wsdl:input message="impl:updateDepartmentRequest" name="updateDepartmentRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateDepartmentResponse" name="updateDepartmentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createDepartment" parameterOrder="userid domain departmentName deptId description listName listSync mobile account sign">

         <wsdl:input message="impl:createDepartmentRequest" name="createDepartmentRequest">

       </wsdl:input>

         <wsdl:output message="impl:createDepartmentResponse" name="createDepartmentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delUser" parameterOrder="userid domain">

         <wsdl:input message="impl:delUserRequest" name="delUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:delUserResponse" name="delUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createDisGroupUser" parameterOrder="userid domain departmentId office mobile phone fax account sign">

         <wsdl:input message="impl:createDisGroupUserRequest" name="createDisGroupUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:createDisGroupUserResponse" name="createDisGroupUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDepartment" parameterOrder="userid domain account sign">

         <wsdl:input message="impl:getDepartmentRequest" name="getDepartmentRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDepartmentResponse" name="getDepartmentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="regUser" parameterOrder="userid domain passwd crypttype gid departmentid username offic mobile phone fax">

         <wsdl:input message="impl:regUserRequest" name="regUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:regUserResponse" name="regUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="regUser_New" parameterOrder="userid domain passwd crypttype gid departmentid username offic mobile phone fax alias alias2 roleId changepwd account sign">

         <wsdl:input message="impl:regUser_NewRequest" name="regUser_NewRequest">

       </wsdl:input>

         <wsdl:output message="impl:regUser_NewResponse" name="regUser_NewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delUser_New" parameterOrder="userid domain account sign">

         <wsdl:input message="impl:delUser_NewRequest" name="delUser_NewRequest">

       </wsdl:input>

         <wsdl:output message="impl:delUser_NewResponse" name="delUser_NewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modPasswd" parameterOrder="userid domain passwd crypttype">

         <wsdl:input message="impl:modPasswdRequest" name="modPasswdRequest">

       </wsdl:input>

         <wsdl:output message="impl:modPasswdResponse" name="modPasswdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modPasswd_New" parameterOrder="userid domain passwd crypttype account sign">

         <wsdl:input message="impl:modPasswd_NewRequest" name="modPasswd_NewRequest">

       </wsdl:input>

         <wsdl:output message="impl:modPasswd_NewResponse" name="modPasswd_NewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDirInfo" parameterOrder="userid domain passwd crypttype">

         <wsdl:input message="impl:getDirInfoRequest" name="getDirInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDirInfoResponse" name="getDirInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDirInfo_New" parameterOrder="userid domain passwd crypttype account sign">

         <wsdl:input message="impl:getDirInfo_NewRequest" name="getDirInfo_NewRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDirInfo_NewResponse" name="getDirInfo_NewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="aspGetDomainUserlist" parameterOrder="domain">

         <wsdl:input message="impl:aspGetDomainUserlistRequest" name="aspGetDomainUserlistRequest">

       </wsdl:input>

         <wsdl:output message="impl:aspGetDomainUserlistResponse" name="aspGetDomainUserlistResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modGid" parameterOrder="userid domain gid">

         <wsdl:input message="impl:modGidRequest" name="modGidRequest">

       </wsdl:input>

         <wsdl:output message="impl:modGidResponse" name="modGidResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modGid_New" parameterOrder="userid domain gid account sign">

         <wsdl:input message="impl:modGid_NewRequest" name="modGid_NewRequest">

       </wsdl:input>

         <wsdl:output message="impl:modGid_NewResponse" name="modGid_NewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authentication" parameterOrder="userid domain passwd">

         <wsdl:input message="impl:authenticationRequest" name="authenticationRequest">

       </wsdl:input>

         <wsdl:output message="impl:authenticationResponse" name="authenticationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authentication_New" parameterOrder="userid domain passwd crypttype account sign">

         <wsdl:input message="impl:authentication_NewRequest" name="authentication_NewRequest">

       </wsdl:input>

         <wsdl:output message="impl:authentication_NewResponse" name="authentication_NewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticationManager_New" parameterOrder="userid domain passwd crypttype account sign">

         <wsdl:input message="impl:authenticationManager_NewRequest" name="authenticationManager_NewRequest">

       </wsdl:input>

         <wsdl:output message="impl:authenticationManager_NewResponse" name="authenticationManager_NewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modStatus" parameterOrder="userid domain status">

         <wsdl:input message="impl:modStatusRequest" name="modStatusRequest">

       </wsdl:input>

         <wsdl:output message="impl:modStatusResponse" name="modStatusResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modStatus_New" parameterOrder="userid domain status account sign">

         <wsdl:input message="impl:modStatus_NewRequest" name="modStatus_NewRequest">

       </wsdl:input>

         <wsdl:output message="impl:modStatus_NewResponse" name="modStatus_NewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modUserInfo" parameterOrder="userid domain departmentid username office mobile phone fax">

         <wsdl:input message="impl:modUserInfoRequest" name="modUserInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:modUserInfoResponse" name="modUserInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modUserInfo_New" parameterOrder="userid domain departmentid username office mobile phone fax alias alias2 account sign">

         <wsdl:input message="impl:modUserInfo_NewRequest" name="modUserInfo_NewRequest">

       </wsdl:input>

         <wsdl:output message="impl:modUserInfo_NewResponse" name="modUserInfo_NewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDepartment" parameterOrder="domain departmentId account sign">

         <wsdl:input message="impl:deleteDepartmentRequest" name="deleteDepartmentRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteDepartmentResponse" name="deleteDepartmentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createDisGroup" parameterOrder="userid domain disGroupName description parent account sign">

         <wsdl:input message="impl:createDisGroupRequest" name="createDisGroupRequest">

       </wsdl:input>

         <wsdl:output message="impl:createDisGroupResponse" name="createDisGroupResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDisGroupUser" parameterOrder="deptId userid domain account sign">

         <wsdl:input message="impl:deleteDisGroupUserRequest" name="deleteDisGroupUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteDisGroupUserResponse" name="deleteDisGroupUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateDisGroup" parameterOrder="userid domain disGroupId disGroupName description parent account sign">

         <wsdl:input message="impl:updateDisGroupRequest" name="updateDisGroupRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateDisGroupResponse" name="updateDisGroupResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDisGroup" parameterOrder="userid domain departmentId account sign">

         <wsdl:input message="impl:deleteDisGroupRequest" name="deleteDisGroupRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteDisGroupResponse" name="deleteDisGroupResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDisGroup" parameterOrder="userid domain account sign">

         <wsdl:input message="impl:getDisGroupRequest" name="getDisGroupRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDisGroupResponse" name="getDisGroupResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDomainUserlist" parameterOrder="domain">

         <wsdl:input message="impl:getDomainUserlistRequest" name="getDomainUserlistRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDomainUserlistResponse" name="getDomainUserlistResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDomainUserlist_New" parameterOrder="domain account sign">

         <wsdl:input message="impl:getDomainUserlist_NewRequest" name="getDomainUserlist_NewRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDomainUserlist_NewResponse" name="getDomainUserlist_NewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDomainUserlistGsoap" parameterOrder="domain account sign">

         <wsdl:input message="impl:getDomainUserlistGsoapRequest" name="getDomainUserlistGsoapRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDomainUserlistGsoapResponse" name="getDomainUserlistGsoapResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDomainUserlistLengthGsoap" parameterOrder="domain account sign">

         <wsdl:input message="impl:getDomainUserlistLengthGsoapRequest" name="getDomainUserlistLengthGsoapRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDomainUserlistLengthGsoapResponse" name="getDomainUserlistLengthGsoapResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSaasDomainUserlist" parameterOrder="domain userid passwd">

         <wsdl:input message="impl:getSaasDomainUserlistRequest" name="getSaasDomainUserlistRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSaasDomainUserlistResponse" name="getSaasDomainUserlistResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserInfo_New" parameterOrder="userid domain account sign">

         <wsdl:input message="impl:getUserInfo_NewRequest" name="getUserInfo_NewRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserInfo_NewResponse" name="getUserInfo_NewResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDisGroupUser" parameterOrder="deptId domain account sign">

         <wsdl:input message="impl:getDisGroupUserRequest" name="getDisGroupUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDisGroupUserResponse" name="getDisGroupUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="xmapiSoapBinding" type="impl:XmapiImpl">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isOpen">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isOpenRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="isOpenResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserInfoRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserInfoResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateDepartment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateDepartmentRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateDepartmentResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createDepartment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createDepartmentRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="createDepartmentResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delUserRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="delUserResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createDisGroupUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createDisGroupUserRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="createDisGroupUserResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDepartment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDepartmentRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDepartmentResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="regUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="regUserRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="regUserResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="regUser_New">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="regUser_NewRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="regUser_NewResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delUser_New">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delUser_NewRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="delUser_NewResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modPasswd">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modPasswdRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="modPasswdResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modPasswd_New">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modPasswd_NewRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="modPasswd_NewResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDirInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDirInfoRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDirInfoResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDirInfo_New">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDirInfo_NewRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDirInfo_NewResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="aspGetDomainUserlist">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="aspGetDomainUserlistRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="aspGetDomainUserlistResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modGid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modGidRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="modGidResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modGid_New">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modGid_NewRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="modGid_NewResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authentication">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticationRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="authenticationResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authentication_New">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authentication_NewRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="authentication_NewResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticationManager_New">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticationManager_NewRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="authenticationManager_NewResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modStatusRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="modStatusResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modStatus_New">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modStatus_NewRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="modStatus_NewResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modUserInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modUserInfoRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="modUserInfoResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modUserInfo_New">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modUserInfo_NewRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="modUserInfo_NewResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDepartment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteDepartmentRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteDepartmentResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createDisGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createDisGroupRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="createDisGroupResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDisGroupUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteDisGroupUserRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteDisGroupUserResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateDisGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateDisGroupRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateDisGroupResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteDisGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteDisGroupRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteDisGroupResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDisGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDisGroupRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDisGroupResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDomainUserlist">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDomainUserlistRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDomainUserlistResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDomainUserlist_New">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDomainUserlist_NewRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDomainUserlist_NewResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDomainUserlistGsoap">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDomainUserlistGsoapRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDomainUserlistGsoapResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDomainUserlistLengthGsoap">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDomainUserlistLengthGsoapRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDomainUserlistLengthGsoapResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSaasDomainUserlist">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSaasDomainUserlistRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSaasDomainUserlistResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserInfo_New">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserInfo_NewRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserInfo_NewResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDisGroupUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDisGroupUserRequest">

            <wsdlsoap:body namespace="http://xmapi.webservices.ma.net263.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDisGroupUserResponse">

            <wsdlsoap:body namespace="http://ma.mail.cntv.cn/axis/xmapi" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="XmapiImplService">

      <wsdl:port binding="impl:xmapiSoapBinding" name="xmapi">

         <wsdlsoap:address location="http://macom.263.net/axis/xmapi"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
